<form class="body" name="form" (ngSubmit)="EditBookform.form.valid&&onSubmit()" #EditBookform="ngForm" novalidate dir="rtl" >
  <h2>עריכת ספר</h2>
<div class="form-group">
  <label for="NameBook">שם ספר</label>
<ng-select dir="ltr" [items]=" books" bindLabel="NameBook"  placeholder="Select Book" [(ngModel)]="book" name="book" >
</ng-select>
</div>
<div class="form-group">
<label for="NameLibrary">שם ספריה</label>
<ng-select dir="ltr" [items]=" libraries" bindLabel="NameLibrary"  placeholder="Select library" [(ngModel)]="library" name="library">
</ng-select>

</div>


<mat-form-field>
<input matInput placeholder="Lending Duration" name="LendingDuration" type="number" required   [(ngModel)]="model.LendingDuration" #LendingDuration="ngModel">
<mat-error [hidden]="LendingDuration.valid || LendingDuration.pristine">
  <div [hidden]="!LendingDuration.hasError('required')">  שדה  חובה</div>
</mat-error>
</mat-form-field>
<label for="Status">סטטוס</label>
  <ng-select [items]="status"
  dir="ltr"
  class="ng"
  name="status"
  bindLabel="Status"
  placeholder="סטטוס"
  [(ngModel)]="sta"
  >
</ng-select>
<input type="submit" class="submit"  value="Save" [disabled]="!EditBookform.form.valid">
</form>
