<div class="navbar navbar default">
  <div class="container">
    <!-- <h1>welcome to {{manager.FirstName}}</h1> -->
      <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/manager/AddBook">Add book</a></li>
          <li routerLinkActive="active"><a routerLink="/manager/AddLibrary">Add library</a></li>
          <li routerLinkActive="active"><a routerLink="/manager/Statistics">Statistics</a></li>
      </ul>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
  </div>
  