.main-menu{
    /* background-image: url("../../images/link.jpg");
    background-repeat: round; */
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 15vw;
    overflow: hidden;
    transition: width .05s linear;
    z-index: 1000;
   }
   .addBook{
   background-color: #f74e25;
    width: 15vw;
    height: 25vh;
   }
   .mat-form-field{
    display: inline;
}
   .addLibrary{
    background-color: #f00e62;
    width: 15vw;
    height: 25vh;
   }
   .addSecratery{
    width: 15vw;
    height: 300px !important;
    background-color: #a4117c;
   }
   .editDetails{
  background-color: #f74e25;
    width: 15vw;
    height: 25vh;
   }
  