.body{
    background-color: white;
    /* margin-left: 10vw; */
    padding: 4vw;
}
h2{
    color:black;
}
h6{
    width: 7vw;
}
.month{
    width: 55px;
    float: left;
}
.year{
    width: 55px;
    float: right;
}