<form name="form" (ngSubmit)="Lendingform.form.valid&&onSubmit()" #Lendingform="ngForm" novalidate>
  <mat-form-field>
    <input matInput placeholder="הקש קוד השאלה" name="code" type="text" required   pattern="[0-9]+" [(ngModel)]="idLending" #code="ngModel" >
    <mat-error [hidden]="code.valid || code.pristine">
      <div [hidden]="!code.hasError('required')">  חובה להקיש קוד</div>
       <div [hidden]="!code.hasError('pattern')">ניתן להקיש מספרים בלבד</div>
    </mat-error>
  </mat-form-field>
  
<input type="submit"  class="submit"  value="המשך" [disabled]="!Lendingform.form.valid">

</form>
