<div class="body" dir="rtl">
<form name="form" (ngSubmit)="Lendingform.form.valid&&onSubmit()" #Lendingform="ngForm" novalidate>
  <h2>השאלה</h2>
  <mat-form-field>
    <input class="input" matInput placeholder="הקש קוד השאלה" name="code" type="text" required   pattern="[0-9]+" [(ngModel)]="idLending" #code="ngModel" >
    <mat-error [hidden]="code.valid || code.pristine">
      <div [hidden]="!code.hasError('required')">  חובה להקיש קוד</div>
       <div [hidden]="!code.hasError('pattern')">ניתן להקיש מספרים בלבד</div>
    </mat-error>
  </mat-form-field>
  
<input type="submit"   class="btn btn-warning"  value="המשך" value="בצע השאלה" [disabled]="!Lendingform.form.valid"> 

</form>
</div>