/* input {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    border: solid 2px #e5b78b;
    border-radius: 25px;
 } */

  
  .submit
  {
  background-color: #e5b78b;
  width: 15%;
  color: white;
  }
  .body{
    background-color: white;
    margin-left: 9vw;
    margin-top: 6vh;
    padding: 2vw;
    border: solid 2px black;
}