/* input {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    border: solid 2px #e5b78b;
    border-radius: 25px;
 } */

<<<<<<< HEAD

 /* input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
  } */
  .btn{
    background-color: #ee1067 !important;
    width: 10vw !important;
    height: 6vh !important;

}
a{
    color:black;
}
  .mat-form-field{
    display: inline;
}
=======

>>>>>>> parent of 4486ca7... Merge branch 'master' of https://github.com/MiriamTest/BookMarkProject
  .submit
  {
  background-color: #e5b78b;
  width: 15%;
  color: white;
  }
  .body{
    background-color: white;
    margin-left: 9vw;
    margin-top: 6vh;
    padding: 2vw;
    border: solid 2px black;
}
<<<<<<< HEAD
 input:focus{
     background-color: transparent;
     color: black;
 }
 h2{
     color:black;
 }
=======
>>>>>>> parent of 4486ca7... Merge branch 'master' of https://github.com/MiriamTest/BookMarkProject
