<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
<h1>Welcome to Bookmark</h1>

<div class="navbar navbar default">
  <div class="container">
      <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/managment/Login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/managment/Register">Register</a></li>
      </ul>
  </div>
</div>
<div class="container">
  <div style="text-align:center">

  </div>
</div>
<div>
<router-outlet></router-outlet>
</div>

