<!--The content below is only a placeholder and can be replaced.-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="node_modules/chart.js/src/chart.js"></script>
</head>


  <div id="nav">
    <div class="logo">
      <!-- <h1>
			Bookmark
			</h1> -->
    </div>
    <a routerLink="/managment/Login" class="navlink">כניסה</a>
    <a routerLink="/about" class="navlink">אודות</a>

  </div>

<div class="body">
<div class="navbar navbar default">
  <!-- <div class="container">
      <ul class="nav navbar-nav">

          <li routerLinkActive="active" class="glyphicon glyphicon-user" ><a routerLink="/managment/Login">Login</a></li>
          <li routerLinkActive="active"><a routerLink="/about">About</a></li>
      </ul>
  </div> -->
</div>


<div class="container">
  <div style="text-align:center">

  </div>
</div>
<div>
<router-outlet></router-outlet>
</div>

<!-- <footer></footer> -->

