.body{
    background-color: #ffffffc2;
    border:solid 4px ;
    border-bottom-color: #f74e25;
    border-left-color:#f74e25;
    border-right-color: #f00e62;
    border-top-color: #f00e62;
}
input {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    border: solid 2px #e5b78b;
    border-radius: 25px;
 }

  
  .submit
  {
  background-color: #e5b78b;
  width: 45%;
  margin: 2%;
  color: white;
  }
 input:focus{
     background-color: transparent;
     color: white;
 }