<p>
  reset-password works!
</p>
<!-- <form [formGroup]="form">
  <input type="password" formControlName="password">
  <p *ngIf="form.controls.password.errors?.required">required error</p>
  <input type="password" formControlName="certainPassword">
  <p *ngIf="form.controls.certainPassword.errors?.notEqualTo">notEqualTo error</p>
</form> -->
<!-- <form novalidate [formGroup]="signUpForm">
  <input type="text" placeholder="password" formControlName="password" validateEqualTo="repeatPassword">
  <input type="text" placeholder="confirm" formControlName="repeatPassword">
  <input type="submit" value="Submit" [disabled]="signUpForm.invalid">
  <p *ngIf="signUpForm.get('password').hasError('validateEqual')">Passwords don't match</p>
</form> -->
<!-- 
<div class="body col-md-4 col-md-offset-3 login">
  <div class="reset-triangle"></div>

  <h2 class="reset-header">Log in</h2>
  <h6>* required field</h6>
  <div class="example-container">

    <form name="form" (ngSubmit)="resetForm.form.valid&&onSubmit()" #resetForm="ngForm" novalidate>


      <div class="example-container">
        <mat-form-field>
          <input matInput name="password" [(ngModel)]="password" required #password="ngModel" placeholder="password"
            type='password'>
          <mat-error [hidden]="password.pristine">
            <div [hidden]="!password.hasError('required')"> password is required</div>
          </mat-error>

        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <input matInput name="passwordConfirm" [(ngModel)]="passwordConfirm" required #passwordConfirm="ngModel"
            placeholder="passwordConfirm" type='password'>
          <mat-error [hidden]="passwordConfirm.pristine">
            <div [hidden]="!passwordConfirm.hasError('required')"> password is required</div>
            <div [hidden]="!passwordConfirm.hasError('match')"> passwords are not match</div>
          </mat-error>

        </mat-form-field>
      </div>
      <input type="submit" class="submit" value="Save" [disabled]="!resetForm.form.valid">



    </form>
  </div> -->