<div class="body" dir="rtl">
<h1>ברוכים הבאים לbookmark</h1>
<h4>bookmarkבאה לפתור את נושא המרחק והזמינות הקיימים בדורנו , היכולת לחפש כל ספר מבוקש במיקום הקרוב ביותר ובזמינות הגבוהה ביותר מעניקה מתנה עצומה
  לכל חובב קריאה ודורש ידע באשר הוא שם.
  בחסדי שמים לאחר מחשבה מעמיקה וחקירה אחר אמצעים רבים הגענו לפתירת בעיות בדרך יפה וטכנולוגית.
  Bookmark היא האופציה המושלמת לכל אדם, קלה לשימוש ובעלת יכולות חיפוש רבות המקלות ומבהירות למחפש עצמו את מושא רצונותיו.
</h4>
<h3>תודה שבחרתם בנו, לשירותכם תמיד! Bookmark</h3>
</div>
