.body{
  margin-top: 5%;
  margin-left: 60%;
  padding: 4vw;
  background-color: #ffffffc2;
  border:solid 4px ;
  border-bottom-color: #f74e25;
  border-left-color:#f74e25;
  border-right-color: #f00e62;
  border-top-color: #f00e62;
}
h1{
  color:#f00e62;
}
h3,h4{
  color:black;
}
